# Directories
data
images

# Python
config.py
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea

# Mac
__MACOSX

# Extensions
*.csv
*.key

# Misc
plan.md
/Capstone-Projects/Capstone-3-Supervised-learning/images/
